HANA_HOST=20178d0a-d4af-4825-bba6-11a2aa151d20.hna1.prod-us10.hanacloud.ondemand.com
HANA_PORT=443
HANA_USER=DBADMIN
HANA_PASS=your_password_here
KEPLER_DB=C:\Users\Edu\Documents\ClaudeWork\KeplerDB\kepler.db
EPHE_PATH=C:\swisseph\ephe
